active_provider: openai
providers:
  openai:
    api_key: YOUR_OPENAI_API_KEY_HERE
    base_url: https://api.openai.com
    endpoint_type: /v1/images/generations
    high_concurrency: false
    model: dall-e-3
    short_prompt: false
    type: image_api
